<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2017, The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzsoft.lzdata.mobile.purex">
               <!--com.example.android.persistence-->

    <!-- Add permissions here -->
    <!-- the internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:name="com.example.android.persistence.BasicApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppThemeX">

        <activity android:name=".componentlib.Slider.introslider.IntroSliderWelcomeActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".componentlib.Slider.introslider.IntroSliderHomeActivity"
            android:theme="@style/AppThemeX.NoActionBar" />

        <activity android:name=".componentlib.RecyclerView.fullrecycleview.FullRecyclerViewActivity"
            android:noHistory="true" />

        <activity android:name=".componentlib.RecyclerView.thoughtbotrecyclerview.ThouthtbotSampleActivity" />
        <activity android:name=".componentlib.RecyclerView.thoughtbotrecyclerview.expand.ExpandActivity" />
        <activity android:name=".componentlib.RecyclerView.thoughtbotrecyclerview.multicheck.MultiCheckActivity" />
        <activity android:name=".componentlib.RecyclerView.thoughtbotrecyclerview.singlecheck.SingleCheckActivity" />
        <activity android:name=".componentlib.RecyclerView.thoughtbotrecyclerview.multitype.MultiTypeActivity" />
        <activity android:name=".componentlib.RecyclerView.thoughtbotrecyclerview.multitypeandcheck.MultiTypeCheckGenreActivity" />

        <activity android:name=".ControlPannel.expandable.instance.ExpandControlPanelActivity" />
        <activity android:name=".ControlPannel.expandable.ControlPanelExpandActivity" />

        <activity android:name="com.patrickiv.demo.enteranimationdemo.AnimRecyclerViewActivity" />

        <activity android:name="com.patrickiv.demo.continuousanimationdemo.ContinuousAnimDemoActivity" />

        <!--CardView Demo-->
        <activity android:name=".componentlib.CardView.albumcardviewdemo.AlbumsCardViewActivity"
            android:theme="@style/AppThemeX.NoActionBar" />

        <!--ListView Demo-->
        <activity android:name=".componentlib.ListView.Recipes.RecipeListViewJsonActivity" />
        <activity android:name=".componentlib.ListView.Recipes.RecipeDetailActivity" />

        <!--Animation Demo-->
        <activity android:name="com.example.daimajia.animationdemo.AnimationDemoActivity" />
        <activity android:name="com.example.daimajia.animationdemo.ExampleActivity" />


        <activity android:name="com.waynechen.rippleeffectusage.RippleEffectUsageActivity" />
        <activity android:name="com.example.ozodrukh.dreamers.sample.RippleDrawableSampleActivity" />

        <activity android:name="com.example.balysv.materialripple.demo.MaterialRippleDemoActivity" />
        <activity android:name="com.example.balysv.materialripple.demo.MaterialRippleDemoListActivity" />
        <activity android:name="com.example.balysv.materialripple.demo.MaterialRippleDemoRecyclerActivity" />

        <!--Chart-->
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.notimportant.MPChartExampleActivity" />

        <activity android:name=".componentlib.chart.mpchart.mpchartexample.LineChartActivity1" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.LineChartActivity2" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.LineChartTime" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.BarChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.HorizontalBarChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.PieChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.PiePolylineChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.MultiLineChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.BarChartActivityMultiDataset" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.DrawChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.ScatterChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.BubbleChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.fragments.SimpleChartDemo" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.ListViewBarChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.ListViewMultiChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.StackedBarActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.AnotherBarActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.InvertedLineChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.CandleStickChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.CubicLineChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.RadarChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.LineChartActivityColored" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.DynamicalAddingActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.RealtimeLineChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.CombinedChartActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.PerformanceLineChart" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.BarChartActivitySinus" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.ScrollViewActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.StackedBarActivityNegative" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.BarChartPositiveNegative" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.FilledLineActivity" />
        <activity android:name=".componentlib.chart.mpchart.mpchartexample.HalfPieChartActivity" />

        <activity android:name="com.example.inazaruk.navigationsample.NavigationSampleActivity" />
        <activity android:name="com.example.inazaruk.navigationsample.SettingsActivity" />

        <activity android:name="com.example.inazaruk.actionscontentview.ExamplesActivity" />
        <activity android:name="com.example.inazaruk.actionscontentview.EffectsExampleActivity" />


        <!--Material Tabs的Demo-->
        <activity
            android:name=".componentlib.Tabs.materialtabs.activity.MaterialTabsPanelActivity"
            android:theme="@style/AppThemeX.NoActionBar" />
        <activity
            android:name=".componentlib.Tabs.materialtabs.activity.SimpleTabsActivity"
            android:theme="@style/AppThemeX.NoActionBar" />
        <activity
            android:name=".componentlib.Tabs.materialtabs.activity.CustomViewIconTextTabsActivity"
            android:theme="@style/AppThemeX.NoActionBar" />
        <activity
            android:name=".componentlib.Tabs.materialtabs.activity.IconTabsActivity"
            android:theme="@style/AppThemeX.NoActionBar" />
        <activity
            android:name=".componentlib.Tabs.materialtabs.activity.IconTextTabsActivity"
            android:theme="@style/AppThemeX.NoActionBar" />
        <activity
            android:name=".componentlib.Tabs.materialtabs.activity.ScrollableTabsActivity"
            android:theme="@style/AppThemeX.NoActionBar" />

        <activity
            android:name=".componentlib.Tabs.tabsswipe.MoviesTabsSwipeActivity"
            android:theme="@style/AppThemeX.NoActionBar" />

        <activity android:name="com.example.athbk.ultimatetablayout.UltimateTabLayoutActivity" />



        <!--Architecture Components Basic Example-->
        <!--Persistence-->
        <activity android:name="com.example.android.persistence.ui.BasicSamplePersistenceActivity" />
        <!--BasicRxJavaSample-->
        <activity android:name="com.example.android.observability.ui.UserActivity" />

        <!--MySQL数据库-->
        <activity android:name=".database.mysql.puredata.MySQLDataPureActivity" />

        <activity android:name=".database.mysql.ravi.dbconn.MainConnDbActivity" />
        <activity android:name=".database.mysql.ravi.dbconn.NewProductActivity" />
        <activity android:name=".database.mysql.ravi.dbconn.UpdateProductActivity" />
        <activity android:name=".database.mysql.ravi.dbconn.DeleteProductActivity" />
        <activity android:name=".database.mysql.ravi.dbconn.ViewProductsActivity" />

        <activity android:name=".database.mysql.remotedb.RemoteMySQLActivity" />
        <activity android:name=".database.mysql.remotedb.AddProductActivity" />
        <activity android:name=".database.mysql.remotedb.ProductListingActivity" />
        <activity android:name=".database.mysql.remotedb.ProductUpdateDeleteActivity" />

        <activity android:name=".ContralPanelActivity" />

        <activity android:name="com.example.android.io2014.Activity_Main_IO2014"/>
        <activity android:name="com.example.android.io2014.Activity_Detail_IO2014"/>

        <activity android:name="com.example.etsy.EtsySampleActivity"/>
        <activity android:name="com.example.etsy.StaggeredGridActivity"/>
        <activity android:name="com.example.etsy.StaggeredGridActivityFragment"/>
        <activity android:name="com.example.etsy.StaggeredGridEmptyViewActivity" />
        <activity android:name="com.example.etsy.ListViewActivity"/>
        <!--Material Design Login Demo-->
        <activity android:name="com.lzsoft.lzdata.mobile.purex.login.Yudiz.material.LoginActivity" />

        <activity android:name=".login.fanrunqi.materiallogin.MaterialLoginActivity"
            android:theme="@style/AppTheme_Material_Login"/>
        <activity android:name=".login.fanrunqi.materiallogin.RegisterActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".login.fanrunqi.materiallogin.LoginSuccessActivity"
            android:theme="@style/AppTheme_Material_Login" />

        <!--以下 kotlin Activity-->
        <!--<activity android:name="com.example.android.navigationsample.NavigationBasicDemoActivity" />-->

        <!--<activity android:name="com.example.android.pagingsample.PagingSampleActivity" />-->

    </application>

</manifest>